<!-- <div style="padding: 50px 20px; max-width: 350px; margin: 0 auto">
  <div style="margin-bottom: 20px">
    <ppr-snackbar-info
      titleText="Berhasil"
      messageText="Callback URL telah tersimpan."
    ></ppr-snackbar-info>
  </div>
  <div style="margin-bottom: 20px">
    <ppr-snackbar-warning
      titleText="Perhatian"
      messageText="Callback URL telah tersimpan."
    ></ppr-snackbar-warning>
  </div>
  <div style="margin-bottom: 20px">
    <ppr-snackbar-danger
      titleText="Error"
      messageText="Callback URL telah tersimpan."
    ></ppr-snackbar-danger>
  </div>
</div> -->

<button type="button" (click)="openInfoSnackBar()">
  Open Info Sunakku Baru
</button>
<hr />
<button type="button" (click)="openWarningSnackBar()">
  Open Warning Sunakku Baru
</button>
<hr />
<button type="button" (click)="openDangerSnackBar()">
  Open Danger Sunakku Baru
</button>
<hr />
